.title-about{
    text-align: left;
    color: #001e1d;
    padding-top: 10%;
    padding-left: 5%;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2.5rem;
    margin: 0 auto;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}
    
@keyframes typing {
    from {
        width: 0;
    }
    
    to {
        width: 100%;
    }
}
    
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.text-about{
    padding: 2%;
    word-spacing: normal;
}