* {
  font-family: sans-serif;
}

.footer_2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  height: auto;
  width: 100vw;
  padding-top: 30px;
  color: white;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer_content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  padding: 5px;
  border-radius: 50%;
}

.socials a img {
  font-size: 1.1rem;
  width: 25px;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer_2_bottom {
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.footer_2_bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.foote_2_-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}

.foote_2_-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
