.foto{
    border-radius: 50%;
    padding-top: 2%;
    display: block;
    margin: 0px auto;
}
.text-presentacion{
    text-align: center;
    padding: 2%;
    color: #001e1d;
}
.olivetti{
    text-align: center;
    color: #001e1d;
    padding-top: 10%;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.5rem;
    margin: 0 auto;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}


